[Unit]
Description=Giga speedtest
Requires=ssb-server@%I.service
After=network.target

[Service]
User=%I
ExecStart=/usr/bin/node /home/%I/giga/cli.js run
Type=oneshot

